<?xml version="1.0" encoding="UTF-8" ?><!--xml版本和编码-->

<!--
  约束：mybatis中configuration的约束
-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
根标签：configuration

-->
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!--事务-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/dspt"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--mapper映射-->
    <mappers>
      <mapper class="com.neuedu.dao.UserDAO"/>
    </mappers>
</configuration>