<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
     ">
    <!--数据源-->
   <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
       <!--基本参数-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
       <property name="url" value="jdbc:mysql://127.0.0.1:3306/dspt"/>
       <property name="username" value="root"/>
       <property name="password" value="123456"/>

   </bean>

  <!--sqlSessionFactory-->
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
     <!--配置数据源-->
     <property name="dataSource" ref="dataSource"/>

     <!--给实体类起别名-->
     <property name="typeAliasesPackage" value="com.neuedu.entity"/>
     <!--配置mybatis-config文件-->
    <!--  <property name="configLocation " value=""/>-->
     <!--配置mybatis-mapper文件-->
     <property name="mapperLocations" value="classpath:mapper/*.xml"/>
 </bean>

    <!--扫描dao，与map相对应，实现dao的实例化对象，使用spring容器注入-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--dao-->
        <property name="basePackage" value="com.neuedu.dao"/>
    </bean>

</beans>