<?xml version="1.0" encoding="UTF-8"?>
<!--spring约束-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
      " >
    <!-- 开启注解扫描
  1：到包中扫描类、方法、属性上面是否有注解
-->
    <context:component-scan base-package="com.neuedu"></context:component-scan>
    <!--  只会扫描属性上面的注解-->
    <context:annotation-config></context:annotation-config>
</beans>