<?xml version="1.0" encoding="UTF-8"?>
<!--spring约束-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--对User类创建Bean-->
    <bean id="user" class="com.neuedu.entity.User"/>

</beans>