<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc20190418:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc20190418_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc20190418" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.5.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springmvc20190418/web/Web" />
    </root>
  </artifact>
</component>